#blog {
    padding-top: 160px;
    padding-bottom: 160px;

    img .img-fluid {
        border-radius: 10px;
    }

    .article-body {
        h2 {
            opacity: 1;
            font-weight: bold;
            font-size: 36px;
            line-height: 54px;
            margin: 0px;
            padding: 0px;
        }
    }

    .article-list {
        .card {
            margin-top: 20px;
            margin-bottom: 20px;
            border-radius: 10px;
            padding: 10px;
    
            .card-title {
                padding-bottom: 0px;
    
                p {
                    margin-left: 20px;
                    margin-bottom: 0px;
                    font-size: 16px;
                    line-height: 24px;
                }
            }
    
            .card-body {
                padding-top: 0px;
                padding-bottom: 0px;
    
                h6 {
                    margin: 0px;
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 24px;
                }
    
                a {
                    text-decoration-line: none;
                    color: $color-green;

                    &:hover {
                        text-decoration-line: underline;
                        color: $color-green;
                    }
                }

            }

            &:hover {
                background: $bg-gradient;
                color: $color-white;
                transition: all .5s ease-out;
                
                a {
                    color: $color-white;

                    &:hover {
                        color: $color-white;
                    }
                }
            }
        }

        h3 {
            font-weight: bold;
            font-size: 28px;
            line-height: 54px;
            position: relative;

            &:after {
                content: "";
                position: absolute;
                width: 50%;
                bottom: 0;
                left: 0;
                right: 0;
                background: $color-green;
                height: 3px;
            }
        }
    }    
}