#blog {
    padding-top: 160px;

    .blog-content {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    input[type=text] {
        border: 2px solid #37977B;
        padding-right: 100px;
        border-radius: 30px 0px 0px 30px;
    }

    .btn-primary{
        left: 60%;
        background: linear-gradient(266.74deg, #54B657 6.99%, #34947D 93.18%);
        border-radius: 0px 30px 30px 0px;
        box-shadow: none;
        border: 1px solid #37977B;
    }
}

#post {
    padding-bottom: 180px;

    .card {
        border-radius: 10px;
        margin-top: 20px;
        margin-bottom: 20px;

        .card-img-top {
            border-radius: 10px 10px 0px 0px;
        }

        .card-body {
            height: 350px;

            .title {
                font-weight: bold;
                font-size: 18px;
                line-height: 27px;
            }

            .card-text {
                margin-top: 20px;
                margin-bottom: 20px;
            }

            a {
                color: $color-green;
                font-weight: bold;
                font-size: 16px;
                line-height: 24px;
                text-decoration-line: none;

                &:hover {
                    text-decoration-line: underline;
                }
            }
        }

        p {
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
        }

        &:hover {
            transition: all 0.5s ease-in-out;
            box-shadow: 0px 6px 15px rgba(38, 38, 38, 0.2);
            top: -4px;
            border: 1px solid #cccccc;
            background-color: white;
        }
    }
}