.carousel {
    display: flex;
    
    .service-wrapper {
        margin: 50px 30px;

        .card {
            .card-service {
                display: inline-block;
                width: 250px;
                border-radius: 10px;
                margin-left: auto;
                margin-right: auto;
            }            
        }

        .card-body {
            height: 400px;

            h4 {
                position: relative;
                font-size: 20px;

                &:after {
                    content: "";
                    position: absolute;
                    width: 40%;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin-right: auto;
                    margin-left: auto;
                    background: $color-green;
                    height: 3px;
                }
            }

            p {
                font-size: 16px;
                line-height: 24px;
                font-weight: 400;
                margin-top: 20px;
            }
        }

    }

    .slick-prev{
        margin: auto;
        width: 50px;
        height: 50px;
        background-color: transparent;
        border: none;
    }

    .fas {
        background: $bg-button;
        background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .slick-next{
        margin: auto;
        width: 50px;
        height: 50px;
        background-color: transparent;
        border: none;
    }

    .slick-slide {
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }
    
    .slick-center {
        box-shadow: 0px 2px 10px rgba(38, 38, 38, 0.2);
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}