#contact {
    padding-top: 60px;
    padding-bottom: 60px;

    p {
        margin-top: 40px;
        margin-bottom: 30px;
    }

    label {
        font-weight: 600;
    }

    input[type=text], input[type=number], textarea {
        border: 2px solid #BBBBBB;
        border-radius: 10px;
        padding-top: 20px;
        padding-bottom: 20px;

        &:active, &:focus, &:hover {
            border: 2px solid rgba(31, 92, 78, 0.8);
        }
    }

    .btn-primary {
        margin-top: 40px;
        padding: 10px 40px;
        margin-bottom: 90px;
    }
}