#discount-hero {
    padding-top: 140px;

    .hero-content {
        margin-top: 80px;
        padding-left: 80px;

        span {
            color: $color-green-light;
        }

        p {
            margin-top: 30px;
            font-weight: normal;
            font-size: 18px;
            line-height: 27px;
        }
    }
}

#roulette {
    padding-top: 60px;

    input[type=text], input[type=number] {
        border: 2px solid #BBBBBB;
        border-radius: 10px;
    }

    input[type=text]:hover, input[type=number]:hover, input[type=text]:focus, input[type=number]:focus {
        border: 2px solid rgba(31, 92, 78, 0.8);
        border-radius: 10px;
    }

    .canvasContainer {
        position: relative;
        width: 450px;

        #canvas {
            z-index: 1;
        }

        .power_controls {
            position: absolute;
            margin: auto;
            top: 58%;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 999;
        }

        .prize_pointer {
            position: absolute;
            margin: auto;
            left: 92%;
            top: 42%;
            z-index: 999;
        }
    }   
    
    /* Style applied to the spin button once a power has been selected */
    .clickable
    {
        cursor: pointer;
    }
    
    /* Other misc styles */
    .margin_bottom
    {
        margin-bottom: 5px;
    }
}

.swal-footer {
    text-align: center;
}

#price {
    padding-bottom: 180px;

    .card {
        border-radius: 10px;

        .card-title {
            border-radius: 10px 10px 0px 0px;
            background: linear-gradient(90.48deg, #B4EFC3 5.34%, #8CE2BC 93.48%);
            padding: 10px 0px;

            h3 {
                font-weight: 700;
                font-size: 28px;
                line-height: 42px;
            }            
        }

        .card-body {

            h5 {
                font-weight: bold;
                font-size: 26px;
                line-height: 39px;
                margin-bottom: 20px;
            }

            span {
                font-weight: bold;
            }
        }
    }
}
