#features {
    text-align: center;

    img {
        padding-bottom: 20px;
        opacity: 0.2;
        transition: transform 4s .25s cubic-bezier(0,1,.3,1),
                    opacity .3s .25s ease-out;
        will-change: transform, opacity;

        &.is-visible {
            opacity: 1;
        }
    }
    
    p{        
        margin: 0px 25px 60px 25px;
    }
}