#profile {
    background: #E2F3E3;
    padding-top: 120px;
    padding-bottom: 100px;
    position: relative;

    .profile-bg{
        position: absolute;
        left: 0;
        right: 0;
        top: -130px;
        overflow: hidden;
        z-index: -1;

        svg {
            width: 100%;
        }
    }

    .profile-top-wrapper {
        
        padding: 0;
        margin: 0;
    }
    
    .text-bold {
        font-weight: 500;
    }

    h5 {
        font-weight: bold;
        font-size: 18px;
        line-height: 27px;
        // margin: 15px 0px 0px 0px;
    }

    .button-nav {
        position: absolute;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;

        .btn-profile {
            width: 210px;
            padding-top: 25px;
            padding-bottom: 25px;
            margin-bottom: 20px;
        }
    }
}