@font-face {
    font-family: arvo-bold;
    src: url('/landing/font/arvo-bold.ttf');
}

#product {
    padding-top: 60px;

    .card {
        border-radius: 10px;
        margin-bottom: 30px;

        .btn-success {
            font-weight: 500;
            padding-left: 20px;
            padding-right: 20px;
            margin-bottom: 20px;
        }

        .btn-primary {
            font-weight: 500;
            padding-left: 40px;
            padding-right: 40px;
            margin-bottom: 20px;
        }

        &:hover {
            transition: all 0.3s ease-out;
            box-shadow: 0px 6px 15px lighten($color-green, 60%);
            top: -4px;
            border: 1px solid #cccccc;
            background-color: white;
        }
    }

    h5 {
        font-family: 'arvo-bold';
        font-weight: bold;
        font-size: 28px;
        line-height: 34px;
        margin-bottom: 40px;
    }

    img {
        padding: 20px 20px;
    }

    .modal-body {
        padding-left: 60px;
        padding-right: 30px;
        margin-left: auto;
        margin-right: auto;

        p {
            font-size: 14px;
        }
    }
}