#testimoni {
    .testi-text {
        font-style: italic;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        margin: 20px;
    }

    .card {
        border-radius: 10px;
    }

    .owl-carousel {
        .owl-item img {
            width: auto;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .owl-theme .owl-dots .owl-dot {
        span {
            width: 15px;
            height: 15px;
        }
        
        &.active span {
            background: $color-green;
        }
    }

}