// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Montserrat', sans-serif;

// Colors
$color-white : #FFFFFF;
$color-green : #1F5C4E;
$color-footer: #75E195;
$color-green-light : #54B657;
$color-bg : #F6F7F7;
$bg-gradient : linear-gradient(90.31deg, #5DCC99 0%, #75E195 100%);
$bg-button : linear-gradient(266.74deg, #54B657 6.99%, #34947D 93.18%);
$bg-footer: linear-gradient(180deg, #55C595 0%, #7CE495 100%);

//breakpoints
$breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px
);