@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import 'base-bootstrap';
@import 'bootstrap-custom';
@import 'variables';

@import 'component/base';
@import 'component/navbar';
@import 'component/accordion';
@import 'component/button';
@import 'component/heading';
@import 'component/paragraph';
@import 'pages/carousel';
@import 'pages/home';
@import 'pages/profile';
@import 'pages/visi-misi';
@import 'pages/features';
@import 'pages/product';
@import 'pages/faq';
@import 'pages/testimoni';
@import 'pages/contact';
@import 'component/footer';

// // min-width: 1200px
// // @include media-breakpoint-up(xl)

// // min-widht: 992px max-width:1119px


// // min-width: 768px max-width:991px
// @include media-breakpoint-up(md) {
    // #footer {
    //     .footer-bg {
    //         top: -80px;
    //     }
    // }
    
    // #navbar {
    //     .navbar-light {    
    //         .navbar-nav {
    //             .nav-link {
    //                 color: $color-white;
    //                 font-weight: 500;
    //                 font-size: 18px;
    //                 line-height: 22px;
    //                 margin: 0px;
    //                 padding: 0px;
    //             }
    
    //             .nav-link:hover {
    //                 color: $color-green;
    //                 background-image: none;
    //             }

    //             .active {
    //                 >.nav-link {
    //                     color: $color-green;
    //                     background-image: none;
    //                 }
    //             }
                
    //         }
    //     }
    // }

    // #profile .profile-bg {
    //     top: -60px;
    // }
// }

// // min-width: 576px max-width: 767px
// @include media-breakpoint-up(sm) {

//     .hidden-sm {
//         display: none!important;
//     }

//     #navbar {
//         .navbar-light {    
//             .navbar-nav {
//                 .nav-link {
//                     color: $color-white;
//                     font-weight: 500;
//                     font-size: 18px;
//                     line-height: 22px;
//                     margin: 0px;
//                     padding: 0px;
//                 }
    
//                 .nav-link:hover {
//                     color: $color-green;
//                     background-image: none;
//                 }

//                 .active {
//                     >.nav-link {
//                         color: $color-green;
//                         background-image: none;
//                     }
//                 }
                
//             }
//         }
//     }

//     #profile .profile-bg {
//         top: -60px;
//     }

    // #footer {
    //     .footer-bg {
    //         top: -40px;
    //     }
    // }
// }

// // max-width: 575px
// @include media-breakpoint-up(xs) {
//     #profile .profile-bg {
//         top: -60px;
//     }
// }



@media (max-width: 768px) {
    .hidden-sm {
        display: none!important;
    }

    #navbar {
        .navbar-light {    
            .navbar-nav {
                .nav-link {
                    color: $color-white;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 22px;
                    margin: 0px;
                    padding: 0px;
                }
    
                .nav-link:hover {
                    color: $color-green;
                    background-image: none;
                }

                .active {
                    >.nav-link {
                        color: $color-green;
                        background-image: none;
                    }
                }
                
            }
        }
    }

    #footer {
        .footer-bg {
            top: -60px;
        }
    }
}

@media (max-width: 1024px) {
    #footer {
        .footer-bg {
            top: -120px;
        }
    }
}

@media (max-width: 991px) {
    #navbar {
        .navbar-light {    
            .navbar-nav {
                .nav-link {
                    color: $color-white;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 22px;
                    margin: 0px;
                    padding: 0px;
                }
    
                .nav-link:hover {
                    color: $color-green;
                    background-image: none;
                }

                .active {
                    >.nav-link {
                        color: $color-green;
                        background-image: none;
                    }
                }
                
            }
        }
    }

    #profile {
        .profile-bg {
            top: -140px;
        }
    }

    #footer {
        .footer-bg {
            top: -100px;
        }
    }
}

@media (max-width: 540px) {
    h1 {
        font-size: 42px;
    }
    h2 {
        font-size: 36px;
    }

    h3 {
        font-size: 20px;
    }
    #footer {
        .footer-bg {
            top: -120px;
        }
    }

    #profile {
        padding-top: 60px;
        padding-bottom: 200px;
        .button-nav {
            
            .btn-primary {
                display: inline-block;
                font-size: 18px;
                border-radius: 10px;
                margin-left: 10px;
                margin-right: 10px;
                text-align: center;
            }
    
            .btn-profile {
                padding-top: 10px;
                padding-bottom: 10px;
                width: 120px;
                text-align: center;
            }
    
        }
    }

    .footer-wrapper {
        text-align: center;

        .footer-right {
            text-align: center;
        }
    }
}

@media (max-width: 420px) {
    #profile {
        .profile-bg {
            top: -40px;
        }
    }
    
    #footer {
        .footer-bg {
            top: -100px;
        }

        .footer-wrapper {
            text-align: center;

            .footer-right {
                text-align: center;
            }
        }
    }
}

@media (max-width: 280px) {
    #footer {
        .footer-bg {
            top: -90px;
        }
    }
}

@import 'pages/blog';

@import 'pages/blog-listing';

@import 'pages/discount';