.md-accordion{

    .card {
        background-color: $color-bg;
        margin-bottom: 10px;

        .card-header {                     
            font-weight: 600;
            font-size: 18px;
            line-height: 27px;
            background-color: #5BC995;

            &button:not(.collapsed) .rotate-icon {
                -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
            }
        }

        .card-body {
            background-color: $color-white;
            border: 2px solid #5BC995;
        }
        
        .fa-angle-down {
            float: right;
        }

        // .card-header button:not(.collapsed) .rotate-icon {
            
        // }
    }

    h5 {
        .btn-link {
            color: $color-white;

            &:active, &:visited, &:hover {
            color: $color-white;
            text-decoration: none;
            }
        }
    }    
    
}