html {
    scroll-behavior: smooth;
}

body {
    background-color: $color-bg;
    color:  $color-green;
    font-family: $font-family-sans-serif;
}

.modal-header {
    border-bottom: none;
}

video {
    border-radius: 10px;
}