.btn-primary {
    font-weight: bold;
    font-size: 16px;
    background: $bg-button;
    box-shadow: 0px 10px 20px rgba(134, 142, 150, 0.3);
    border: 2px solid transparent;
    border-radius: 30px;
    padding-left: 30px;
    padding-right: 30px;

    &:hover, &:active, &:focus {
        border: 2px solid #5DCC99;
        background: $bg-gradient;
    }
}

.btn-success {
    font-weight: bold;
    font-size: 16px;
    color: $color-green;
    background-color: $color-white;
    border: 2px solid $color-green;
    border-radius: 30px;

    &:hover, &:active, &:focus {
        color: $color-white;
        background-color: $color-green;
        border: 2px solid $color-green;
    }
}

.swal-button--cancel, .swal-button--cancel:not([disabled]) {
    font-weight: bold;
    font-size: 16px;
    color: $color-green;
    background-color: $color-white;
    border: 2px solid $color-green;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;

    &:hover, &:active, &:focus {
        color: $color-white;
        background-color: $color-green;
        border: 2px solid $color-green;
    }
}

.swal-button--confirm {
    font-weight: bold;
    font-size: 16px;
    background: $bg-button;
    box-shadow: 0px 10px 20px rgba(134, 142, 150, 0.3);
    border: 2px solid transparent;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;

    &:hover, &:active, &:focus {
        border: 2px solid #5DCC99;
        background: $bg-gradient;
    }
}

.button-nav {
    margin-top: 60px;
    text-align: center;

    .btn-primary {
        font-size: 20px;
        border-radius: 10px;
        padding: 20px 40px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .iconify {
        font-size: 30px;
    }
    
}
