#footer {
    background: $color-footer;
    color: $color-white;
    padding-bottom: 40px;
    position: relative;
    
    .footer-bg{
        position: absolute;
        left: 0;
        right: 0;
        top: -160px;
        //z-index: -1;
        overflow: hidden;

        svg {
            width: 100%;
        }
    }

    p {
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
    }

    a {
        color: $color-white;

        &:hover {
            color: $color-white;   
            text-decoration: none;
        }
    }

    .footer-left {
        h3 {
            font-weight: bold;
            font-size: 24px;
        }
    }

    .footer-right ul {        
        list-style-type: none;
        padding-inline-start: 0px;

        li, a{
            display: inline-block;
            margin-left: 10px;
            color: $color-white;
            font-weight: 600;
            text-decoration: none;

            &:hover {
                text-decoration: none;
            }
        }
    }
}