h1 {
    font-weight: bold;
    font-size: 60px;
}

h1.is-visible, h2.is-visible {
    opacity: 1;
}

h2 {
    font-weight: bold;
    font-size: 58px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 60px;
    opacity: 0;
    transition: opacity .3s .25s ease-out;
}

h3 {
    font-weight: 600;
    font-size: 30px;
}

h4 {
    font-weight: bold;
    font-size: 24px;
    padding-bottom: 15px;
}