#navbar {
    .navbar-light {
        background: $bg-gradient;
        box-shadow: 0px 5px 6px rgba(31, 92, 78, 0.2);

        .navbar-nav {
            .nav-link {
                color: $color-white;
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
                margin-left: 10px;
                margin-right: 20px;
                padding-left: 25px;
                padding-right: 10px;
                padding-bottom: 10px;

                &:hover {
                    color: $color-green;
                    background-image: url('/landing/img/bg-navbar.svg');
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }

            .active {
                >.nav-link {
                    color: $color-green;
                    background-image: url('/landing/img/bg-navbar.svg');
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
            
        }

        .navbar-brand {
            img {
                width: 120px;
            }
        }
        
        .navbar-toggler-icon {
            fill: white;
        }

        p {
            color: $color-white;
            font-weight: 500;
            font-size: 16px;
            margin: 0px;

            a {
                color: $color-white;
                text-decoration: none;

                &:hover {
                    color: $color-green;
                    text-decoration: none;
                }
            }
        }
    }
}